# Prerequisites
*.d

# Compiled Object files
*.class
*.o
*.obj

# Directories
/data
/docs
/src
/bin
/debug

# Data files
/data.*txt
!data/test_sessions.txt

#IDE files
.vs/
.vscode/
*.user
*.suo


# OS files
*.DS_Store
Thumbs.db

# Compiled Dynamic libraries
*.dll

# Executables
*.exe
